
        .hero-section {
            background-image: url('https://m.media-amazon.com/images/I/51ZVeRqZvGL._SX3000_.jpg');
           background-size: cover;            
           background-position: center;      
            background-repeat: no-repeat;
            height: 500px;
            width: 100%;
            position: relative;
        
        }

        .hero-link {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }

        .products-section {
            position: absolute;
            top: 250px;
            left: 50px;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        .product-card {
            width: 300px;
            height: 300px;
            background-color: white;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .product-image {
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 10px;
        }

        .product-image img {
            width: 100px;
            height: 150px;
            object-fit: cover;
        }

        .product-info {
            padding: 20px;
            text-align: center;
            background-color: white;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .product-title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
            color: #000;
        }

        .product-description {
            font-size: 16px;
            color: #666;
            font-weight: 400;
        }

       