.hero-section {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-cards {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    z-index: 1;
}

.product-card {
    width: 300px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
    padding-top: 50px;
    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100px;
    height: 150px;
}

.product-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.product-card p {
    font-size: 16px;
    margin-top: 20px;
}
